  {% extends "base.admin.twig" %}

  {% block title %}
    <h3 class="text-info">Welcome Page</h3>
{% endblock %}
 

{% block backzone %}
    
{% endblock %}
 {% block body %}

<div class="row">
<div class="col-md-8">
 <div class="jumbotron">
  <h1 class="display-3">Home</h1>
<h2> ለፍተሻ ይተባበሩ</h2>
  <hr class="my-2">

<p> welcome to  Gate Control management system </p>

<p> only authorized users are allowed to get in. any violation ends with hard case...</p>

</div>
</div>
<div class="col-md-4">
 <div class="jumbotron">
  <h1 class="display-3">Home</h1>

  <hr class="my-2">
  <img src="{{asset('images/julogo.jpg')}}" class="img-responsive " width="300" height="300" alt="ju"/>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">View More</a>
  </p>
</div>
</div>
</div>


     
 {% endblock %}