{% extends "base.html.twig" %}

{% block title %}
    <h3 class="text-info">Register Customers</h3>
{% endblock %}

{% block body %}
   
   <h1 class="text-primary">Form there</h1>
{{ form_start(form)}}   
{{ form_widget(form)}}   
{{ form_end(form)}}   

{% endblock %}