{% extends "base.html.twig" %}

{% block backzone %}
  
{% endblock %}

{% block body %}


<div class="row">
<div class="col-md-7">
</div>
<div class="col-md-5">
    <div class="panel panel-primary">
  <div class="panel-heading"> Login in</div>
  <div class="panel-body">
  

{{ form_start(form)}}
{{ form_widget(form)}}


    <label class="btn btn-drupal active">
    Remember Me
        <input type="checkbox" name="remembeer" id="remember" checked autocomplete="off">
    </label>
  

<button type="submit" class="btn btn-primary pull-right">Login</button>
{{ form_end(form)}}
  
  </div>
</div>
</div>


</div>  
{% endblock %}